<launch>
    <node name="interface" pkg="ardrone_autopilot" type="interface.py" output="screen">
        <param name="swap_red_blue" value="True" />
    </node>
    <node name="webcam" pkg="ardrone_autopilot" type="webcam.py" output="screen">
    </node>
    <node name="controller" pkg="ardrone_autopilot" type="controller.py" output="screen">
        <param name="is_webcam" value="True" />
    </node>
    <node name="imgproc" pkg="ardrone_autopilot" type="imgproc" output="screen">
    </node>
</launch>
